<div style="height: 65px;"></div>
<div class="cotizador-container">
  <h2>Cotización para: {{ marca }} {{ modelo }}</h2> <!-- Aquí puedes agregar el formulario de cotización -->
  <form> <label for="nombre">Nombre:</label> <input id="nombre" type="text" name="nombre"><br><br> <label
      for="email">Correo electrónico:</label> <input id="email" type="email" name="email"><br><br> <label
      for="mensaje">Mensaje:</label><br> <textarea id="mensaje" name="mensaje" rows="4" cols="50"></textarea><br><br>
    <button type="submit">Enviar cotización</button>
  </form>
</div>